.header-img {
	max-height: 150px
}

.card img {
	max-width: 	180px;
	margin: auto;
}

body{
	background: linear-gradient(0deg,#b0f2b4, #baf2e9, #bad7f2, #f2bac9, #f2e2ba 100%);
}

 .modal-content {
 	background: linear-gradient(0deg,#b0f2b4,  #f2e2ba 100%);
 }

iframe {
	width: 100%;
}